.box{
	position: absolute;
	top:100px;
	left:100px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.box2{
	position: absolute;
	top:100px;
	left:200px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .1s;
}
.box3{
	position: absolute;
	top:100px;
	left:300px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .2s;
}
.box4{
	position: absolute;
	top:100px;
	left:400px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .3s;
}
.box5{
	position: absolute;
	top:100px;
	left:500px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .4s;
}
.box6{
	position: absolute;
	top:100px;
	left:600px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .5s;
}
.box7{
	position: absolute;
	top:100px;
	left:700px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .6s;
}
.box8{
	position: absolute;
	top:100px;
	left:800px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .7s;
}
.box9{
	position: absolute;
	top:100px;
	left:900px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .8s;
}
.box10{
	position: absolute;
	top:100px;
	left:1000px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: .9s;
}
.box11{
	position: absolute;
	top:100px;
	left:1100px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}
.box12{
	position: absolute;
	top:100px;
	left:1200px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 1.1s;
}
.box13{
	position: absolute;
	top:100px;
	left:1300px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 1.2s;
}
.box14{
	position: absolute;
	top:100px;
	left:1400px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 1.3s;
}.box15{
	position: absolute;
	top:100px;
	left:1500px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 1.4s;
}
.box16{
	position: absolute;
	top:100px;
	left:1600px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(230,251,206);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 1.5s;
}
@keyframes anim1 {
	0%{ 
		background-color: rgb(95,205,195);
	}
	50%{
		top:300px;
		background-color: rgb(230,251,206);
	}
	100%{
		
		background-color: rgb(140,250,100);
	}	
}


.box17{
	position: absolute;
	top:400px;
	left:100px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.box18{
	position: absolute;
	top:400px;
	left:250px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: .5s;
}
.box19{
	position: absolute;
	top:400px;
	left:400px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 1s;

}
.box20{
	position: absolute;
	top:400px;
	left:550px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 1.5s;
}

.box21{
	position: absolute;
	top:400px;
	left:700px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}
.box22{
	position: absolute;
	top:400px;
	left:850px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 2.5s;
}
.box23{
	position: absolute;
	top:400px;
	left:1000px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 3s;
}
.box24{
	position: absolute;
	top:400px;
	left:1150px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 3.5s;
}
.box25{
	position: absolute;
	top:400px;
	left:1300px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 4s;
}
.box26{
	position: absolute;
	top:400px;
	left:1450px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 4.5s;
}
.box27{
	position: absolute;
	top:400px;
	left:1600px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(255,242,48);
	animation-name: anim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 5s;
}
@keyframes anim2 {
	0%{ 
		background-color: rgb(232,226,130);
	}
	50%{
		top:500px;
		background-color: rgb(231,250,27);
	}
	100%{
		
		background-color: rgb(192,242,48);
	}	
}
.box28{
	position: absolute;
	top:600px;
	left:100px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(250,208,34);
	animation-name: anim3;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

.box29{
	position: absolute;
	top:600px;
	left:400px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(250,208,34);
	animation-name: anim3;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-delay: 3s;
}

.box30{
	position: absolute;
	top:600px;
	left:700px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(250,208,34);
	animation-name: anim3;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-delay: 5s;
}

.box31{
	position: absolute;
	top:600px;
	left:1000px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(250,208,34);
	animation-name: anim3;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-delay: 7s;
}
.box32{
	position: absolute;
	top:600px;
	left:1300px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(250,208,34);
	animation-name: anim3;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-delay: 9s;
}
.box33{
	position: absolute;
	top:600px;
	left:1600px;
	width:100px;
	height:100px;
	border-radius:100%;
	background-color: rgb(250,208,34);
	animation-name: anim3;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-delay: 11s;
}


@keyframes anim3 {
	0%{ 
		background-color: rgb(250,208,34);
	}
	50%{
		top:700px;
		background-color: rgb(250,133,34);
	}
	100%{
		
		background-color: rgb(250,208,34);
	}	
}

.o1{
	position: absolute;
	top:650px;
	left:1000px;
	width:230px;
	height:230px;
	border-radius:100%;
	background-color: rgb(224,66,74);
	opacity:0;
}
.o1.alarm{
	position: absolute;
	top:630px;
	left:960px;
	border-radius:100%;
	background-color: rgb(255,200,100);
	opacity:10;
	animation-name: anim7;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.word{
	position: absolute;
	top:600px;
	left:00px;
	font-size: 200px;
	font-family: 'Krona One', sans-serif;
	color: rgb(255,200,100);
	opacity:0;
}
.word.alarm{
	position: absolute;
	top:600px;
	left:200px;
	font-size: 250px;
	font-family: 'Krona One', sans-serif;
	color: rgb(255,200,100);
	opacity:1;
}
.word2{
	position: absolute;
	top:600px;
	left:1200px;
	font-size: 300px;
	font-family: 'Krona One', sans-serif;
	color: rgb(255,200,100);
	opacity:0;
}
.word2.alarm{
	position: absolute;
	top:600px;
	left:1200px;
	font-size: 250px;
	font-family: 'Krona One', sans-serif;
	color: rgb(255,200,100);
	opacity:10;
}
@keyframes anim7{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{ opacity:0; 
	}
}
.snooze{
	position: absolute;
	left:-50px;
}

.box.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;

}
.box1.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;

}
.box2.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	
}
.box3.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;

}
.box4.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box5.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box6.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box7.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box8.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box9.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box10.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box11.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box12.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box13.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box14.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box15.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
.box16.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim1;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}


.box17.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.1s;
}
.box18.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.2s;
}
.box19.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.3s;
}
.box20.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.4s;
}
.box21.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.5s;
}
.box22.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.6s;
}
.box23.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.7s;
}
.box24.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.8s;
}
.box25.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.9s;
}
.box26.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:1s;
}
.box27.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim4;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:1.1s;
}
@keyframes anim4 {
	0%{ 
		background-color: rgb(224,66,74);
	}
	50%{
		top:300px;
		background-color: rgb(224,66,74);
	}
	100%{
		
		background-color: rgb(224,66,74);
	}	
}
.box28.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim5;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.1s;
}
.box29.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim5;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.2s;
}
.box30.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim5;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.3s;
}
.box31.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim5;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.4s;
}
.box32.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim5;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.5s;
}
.box33.alarm{
	background-color: rgb(224,66,74) !important;
	animation-name: anim5;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay:.6s;
}
@keyframes anim5 {
	0%{ 
		top:500px;
		background-color: rgb(224,66,74);
	}
	50%{
		top:300px;
		background-color: rgb(224,66,74);
	}
	100%{
		top:500px;
		background-color: rgb(224,66,74);
	}	
}



